
body {
  margin-top: 40px;
/*
  margin-left: 40px;
  margin-right: 40px;
*/

  margin-bottom: 20px;
  background-color:#334163;
}

.navbar-default {
    background-color: #757575; 
    border-color: #000;
    background: #757575;
    padding: 0 5%;
}


.lead {
    font-size: 18px;
    font-weight: 400;
}

.navbar-logo{
  margin: 10px 0;
}
.navbar-ul{
  margin-top: 7px !important;
  font-size: 18px;
/*  font-weight: 200;*/
}
.navbar-ul-li-a{
  transition: 0.5s all !important;
  color: #909090 !important;
}
.navbar-ul-li-a:hover{
  color: #FF7260 !important;
}

#navbar-logo-img{
  width: 60px;
}

.intro-content{
  clear: both;
  padding: 0 5%;
  text-align: center;
}

.intro-message {
    position: relative;
    padding: 22% 0 15%;
}

.intro-message > h1 {
    text-shadow: 1px 1px 1px #848282;
    font-size: 5em;
    color: #1299bf;
}

.intro-divider {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.6);*/
  color: #757575;
  font-weight: 200;
}

.social-icons{
  list-style-type: none;
  padding: 0;
}
.social-icons-li{
  display: inline-block;
  padding: 10px 20px;
}
.social-icons-img{
  width: 55px;
  opacity: 0.70;
  transition: 0.5s all;
}
.social-icons-img:hover{
  opacity: 0.85;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

hr.intro-divider {
  width: 100%;
}

.btn {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
}
/*a.btn.btn-default.btn-lg {
  background-color: #757575;
  border-color: #ccc;
  color: #fff;
}*/

.btn:hover {
  color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform: scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}


.content-section-a {
    padding: 50px 0;
    /*background: url('http://www.cloudwireless.in/img/011.jpg');*/
    /*background: url('http://images.forwallpaper.com/files/thumbs/preview/66/669944__abstract-room-empty-wallpaper_p.jpg');*/
    background-color:#757575;
    background-size: cover;
    background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
    height: 855px;
}
.bg-overlay2 {
  margin-top: -50px;
  height: 855px;
}
  
.container .link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
}

.container .link:hover {
  color: rgb(0,0,128);
  font-weight: bold;
  font-size: 22.5px;
}
.portfolio-content{
  padding: 0 1.1em;
}
.portfolio-heading {
    text-align: center;
    margin-bottom: 2%;
    font-size: 3em;
    color: #FF7260;
}

  /*text*/
 .content-section-a p {
    font-size: 22px;
   font-weight: bold;
    color: #fff;
  }
.content-section-a p a {
  color: silver;
  font-weight: bold;
}

/*profile picture*/
.img-circle {
  margin-top: 150px;
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  
}


.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    background-color: #fff ;
    /*background: url('http://www.toptenpack.com/wp-content/uploads/2014/08/white-web-wallpapers.jpg') no-repeat center center fixed;*/
    background-size: cover;
    height: 755px;
}

.bg-overlay4 {
  margin-top: -100px;
  padding: 100px 0;
  background: rgba(255,255,255, 0.3);
  height: 755px;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}


    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

h2.connect {
   margin: 0;
   color: #757575;
}


footer {
    padding: 20px 0;
    background: #333;
    font-size: 15px;
}

p.copyright {
    margin: 15px 0 0;
}



/* *************************  */
/*
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin:1.66%;
  border-radius: 30%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

.square-img {
    background-image: url("profile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container-prof {
  margin: 30px auto;
  max-width:600px;
}*/

/* Portfolio section*/
section {
  color: black;
  background-color: #fff;

}

/* #below-section {
      font-size: 22px;
    font-weight: bold;
    color: #5BC0BE;
}*/

#small-text {
  color: white;
  font-weight: 100;
}

/*.portfolio-item {
  overflow: hidden;
  padding: 7px;
  color: white;
  height: 308px;
}*/

/*Portfolio items*/
#portfolio{
    -moz-box-shadow: inset 0 5px 7px -5px rgba(134, 134, 134, 0.7);
    -webkit-box-shadow: inset 0 5px 7px -5px rgba(134, 134, 134, 0.7);
    box-shadow: inset 0 5px 7px -5px rgba(134, 134, 134, 0.7);
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    padding: 5%;
    /*overflow-y: auto;*/
}
.portfolio-subheading{
  border: 1px solid #ddd;
  height: 1px;
  border-bottom: #fff solid 1px;
  margin: 10px 0 45px;
}
.portfolio-subheading-p{
  text-transform: uppercase;
  width: 230px;
  background: #fafafa;
  display: block;
  margin: -10px auto 0;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  /*border: 1px outset rgba(255, 255, 255, 0.6);*/
  border: none;
  border-radius: 5%;

}
.portfolio-link{
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.25);
  transition: 0.5s all;
}
.portfolio-link:hover{
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.85);
  box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.85);
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
  padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  color: #fff;
  text-transform: none;
  margin: 0;
  font-weight: 200;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
}

@media (min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}